<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LiveBetter or Else</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Leaflet JS & CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>

    <!-- d3 JS -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <!-- Marker Cluster JS & CSS -->
    <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">


  </head>
  <body>

    <body>
      <div class="container">

        <div class="jumbotron" >
          <div class="text-center"></div>
            <h1>Top 10 Causes of Death</h1>
            <p>A Dashboard Analysis of Leading Causes of Death in the United States, based on ALL resident
              death certificates filed in each of the 50 US states and the District of Columbia. The dashboard
              presents data covering an 8 year period (2010-2017), a subset of data collected by 
              the Center for Disease Control and the  National Center for Health Statistics 
              <a title="Link to CDC Death Rate Data" href="https://data.cdc.gov/NCHS/NCHS-Leading-Causes-of-Death-United-States/bi63-dtpu/data">(CDC/NCHS)</a> </p>
            <div class="row">
              <div class="col-md-2">
                <h5>SELECT Year:</h5>
                <select id="selYearDataset" onchange="optionChangeYear(this.value)"></select>
              </div>
                <div class="col-md-4">
                  <h5>SELECT Cause of Death:</h5>
                  <select id="selCauseDataset" onchange="optionChangeCause(this.value)"></select>
                </div>
            </div>
            <!-- <p><a class="btn btn-primary btn-lg" href="/causes" role="button">Find the reason!</a></p> -->
    
          </div>

        <div class="row">
          <div class="col-md-12">
            <h4>Pie Chart Goes Here </h4>
            <div id="pie"></div>
            <br>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h4>Bar ChartJs Goes Here </h4>
            <canvas id="barChart" width="600" height="400"></canvas>
            <br>
          </div>
        </div>      
        
        <div class="row">
          <div class="col-md-6">
            <h4>Donut ChartJs Goes Here </h4>
            <canvas id="donutChart" width="600" height="400"></canvas>
            <br>
          </div>
        </div>        
        
        <div class="row">
          <div class="col-md-6">
            <h4>Line Graph Goes Here </h4>
            <p>placeholder</p>
            <div id="lineChart"></div>
            <br>
          </div>
        </div>


      </div>  <!-- end of container -->
      <hr>
      <p>Basic Map</p>
      <div id="map"></div>
      <!-- add code for choropleth leaflet map with colored regions -->
      <hr>
      <p>Color Map testing</p>
      <div id="mapChoropleth"></div>
      <hr>
      <p>Layered Map</p>
      <div id="mapLayers"></div>

  <!-- D3 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <!-- Our JavaScript -->
  <script type="text/javascript" src="static/js/config.js"></script>
  <script type="text/javascript" src="static/js/globalVariables.js"></script>   
  <script type="text/javascript" src="static/js/us-states.js"></script>   
  <script type="text/javascript" src="static/js/pieChart.js"></script>    
  <script type="text/javascript" src="static/js/newChart.js"></script> 
  <script type="text/javascript" src="static/js/mapBasic.js"></script>   
  <script type="text/javascript" src="static/js/mapColors.js"></script>    
  <script type="text/javascript" src="static/js/mapLayers.js"></script>   
  <!-- <script type="text/javascript" src="static/js/heatmap.js"></script>    -->
  <script type="text/javascript" src="static/js/dashboard.js"></script>   

  </body>
</html>
