/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
/* body {
  background: #eee8ee;
} */

html,
body {
    height: 100%;
    width: 100% 

}

#map { 
  height: 100%;
  width: 1000px;
  padding: 0px;
  margin: 40px;
} 

/* body {
  padding: 0;
  margin: 0;
} */