/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
/* body {
  background: #eee8ee;
} */

html,
body,
#map {
      height: 100%;
    width: 1000px 

}

/* #map {
  height: 500;
} */

/* body {
  padding: 0;
  margin: 0;
} */