/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
/* body {
  background: #eee8ee;
} */

h1 {
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold; 
    /* color: rgb(11, 167, 167); */
    /* padding: 10px; */
  } 
  
  h2 {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold; 
    /* color: rgb(11, 167, 167); */
    padding: 2px;
    text-align:  center;
  }
  
  h3 {
    font-size: 18px;
    /* font-family: 'Times New Roman', Times, serif; */
    font-weight: bold; 
    margin: 0px;
    /* color: rgb(11, 167, 167); */
    padding: 0px;
  }
  h4 {
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold; 
    /* color: rgb(11, 167, 167); */
    padding: 2px;
    text-align:  left;
  }
  h5 {
    font-size: 18px;
    /* font-family: 'Times New Roman', Times, serif; */
    font-weight: bold; 
    margin: 0px;
    text-align: center;
    /* color: rgb(11, 167, 167); */
    padding: 10px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }